@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        @{
            List<(string link, string title, string icon)> authLink = new List<(string link, string title, string icon)>() {
                ("authentication/profile", context.User.Identity.Name, Icons.Outlined.SentimentSatisfied),
                ("personal/order", "Заказы", Icons.Outlined.MarkunreadMailbox),
                ("personal/cart", "Корзина", Icons.Outlined.ShoppingCart),
            };
        }
        @foreach (var link in authLink)
        {

            <li class="nav-item" style="padding:0px 10px;">
                <MudLink Href="@link.link" Color="Color.Default">
                    <div style="display:flex; flex-direction: column;" class="align-items-lg-center">
                        <MudIcon Icon="@link.icon" Color="Color.Dark" />
                        <MudText Color="Color.Dark">@link.title</MudText>
                    </div>
                </MudLink>
            </li>
        }

        <li class="nav-item" style="padding:0px 10px;">
            <MudLink Color="Color.Default" @onclick="BeginSignOut" Style="cursor:pointer;">
                <div style="display:flex; flex-direction: column;" class="align-items-lg-center">
                    <MudIcon Icon="@Icons.Outlined.ExitToApp" Color="Color.Dark" />
                    <MudText Color="Color.Dark">Выйти</MudText>
                </div>
            </MudLink>
        </li>
    </Authorized>
    <NotAuthorized>
        @foreach (var link in notAuthLink)
        {
            <li class="nav-item" style="padding:0px 10px;">
                <MudLink Href="@link.link" Color="Color.Default">
                    <div style="display:flex; flex-direction: column;" class="align-items-lg-center">
                        <MudIcon Icon="@link.icon" Color="Color.Dark" />
                        <MudText Color="Color.Dark">@link.title</MudText>
                    </div>
                </MudLink>
            </li>
        }
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<(string link, string title, string icon)> notAuthLink = new List<(string, string, string)>()
    {
            ("authentication/login", "Войти", Icons.Outlined.Login),
            ("authentication/register", "Регистрация", Icons.Outlined.HowToReg),
    };

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}