@using Bookstore.Client.UIHelper
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager


<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout Class="d-flex flex-column min-vh-100" Style="overflow-x:hidden;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <MudImage Src="logo.png" Height="45" />
                    Книжная лавка
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <div class="col-lg-2 d-none d-lg-block ">
                                    <div class="nav-item">
                                        <MudLink Href="/">
                                            <MudButton StartIcon="@Icons.Filled.Notes" Style="background-color:#0050e0; color:white; width:140px;">Каталог</MudButton>
                                        </MudLink>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-none d-lg-block">
                                    <MudAutocomplete T="BookModel"
                                                     SearchFunc="@Search"
                                                     ToStringFunc="@(e => e.Title)"
                                                     ValueChanged="SelectBook"
                                                     Margin="Margin.Dense"
                                                     Adornment="Adornment.Start"
                                                     Class="mr-2"
                                                     AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Default" Variant="Variant.Outlined" InputMode="InputMode.search" />
                                </div>
                                <div class="col-lg-4 col-sm">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-lg-end">
                                        <li class="nav-item d-block d-lg-none " style="padding:0px 10px;">
                                            <MudLink Href="/" Color="Color.Default">
                                                <div style="display:flex; flex-direction: column;">
                                                    <MudIcon Icon="@Icons.Filled.Notes" Color="Color.Dark" />
                                                    <MudText Color="Color.Dark">Каталог</MudText>
                                                </div>
                                            </MudLink>
                                        </li>
                                        <LoginDisplay />
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12 d-block d-lg-none">
                            <MudAutocomplete T="BookModel"
                                             SearchFunc="@Search"
                                             ToStringFunc="@(e => e.Title)"
                                             ValueChanged="SelectBook"
                                             Margin="Margin.Dense"
                                             Adornment="Adornment.Start"
                                             Class="mr-2"
                                             AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Default" Variant="Variant.Outlined" InputMode="InputMode.search" />
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Fixed="@(NavigationManager.Uri.Split('/').Count() == 4 ? true : false)">
            @Body
        </MudContainer>
    </MudMainContent>

    <footer class="py-3 mt-4 navbar-light bg-light">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/info/about-us" class="nav-link px-2 text-muted">О нас</a></li>
            <li class="nav-item"><a href="/info/safety" class="nav-link px-2 text-muted">Безопасность</a></li>
            <li class="nav-item"><a href="/info/privacy-policy" class="nav-link px-2 text-muted">Политика конфиденциальности</a></li>
            <li class="nav-item"><a href="/info/contact-information" class="nav-link px-2 text-muted">Контактная информация</a></li>
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <li class="nav-item"><a href="/admin" style="padding-left:5px;" class="nav-link px-2 text-muted d-flex align-items-start"><MudIcon Icon="@Icons.Filled.AdminPanelSettings" />Панель управления</a></li>
                </Authorized>
            </AuthorizeView>
        </ul>
        <div class="row">

            <div class="d-none d-md-block col-md-4">
                <MudImage Src="logo.png" Width="130" Style="display: block; margin-left: auto; margin-right: auto"></MudImage>
            </div>
            <div class="col-12 col-md-4">
                <p class="text-center text-muted" style="width:350px; display: block; margin-left: auto; margin-right: auto">Присоединяйтесь к нам в соцсетях</p>
                <div style="text-align:center;-moz-user-select: -moz-none; -o-user-select: none; -khtml-user-select: none; -webkit-user-select: none; user-select: none;">
                    <MudIcon Color="Color.Primary" Style="height:40px; width:40px;" Icon="@Icons.Custom.Brands.Facebook" />
                    <MudIcon Color="Color.Secondary" Style="height:40px; width:40px;" Icon="@Icons.Custom.Brands.Instagram" />
                    <MudIcon Color="Color.Info" Style="height:40px; width:40px;" Icon="@Icons.Custom.Brands.Twitter" />
                    <MudIcon Color="Color.Info" Style="height:40px; width:40px;" Icon="@Icons.Custom.Brands.Telegram" />
                    <MudIcon Color="Color.Secondary" Style="height:40px; width:40px;" Icon="@Icons.Custom.Brands.Pinterest" />
                </div>
            </div>
            <div class="col-12 col-md-4">
                <p class="text-center text-muted"
                   style="width:350px; display: block; margin-left: auto; margin-right: auto;">
                    © 2022, ООО «Книжная Лавка».<br />
                    Использование материалов сайта возможно только с активной ссылкой на bookstore.ru.
                </p>
            </div>
        </div>
    </footer>
</MudLayout>


@code {
    private HttpClient _http;

    private string _selectedText = string.Empty;

    protected override void OnInitialized()
    {
        _http = HttpClientFactory.CreateClient("Bookstore.AnonymousAPI");
    }

    private async Task<IEnumerable<BookModel>> Search(string value)
    {
        if (string.IsNullOrWhiteSpace(value))
            return new List<BookModel>();
        var books = await _http.GetFromJsonAsync<List<BookModel>>($"api/Book/GetAllByTitle/{value}");
        return books;
    }

    private void SelectBook(BookModel bookModel)
    {
        NavigationManager.NavigateTo($"/catalog/book/");
        NavigationManager.NavigateTo($"/catalog/book/{bookModel.Id}");
    }
}