@using Bookstore.Client.UIHelper
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <MudImage Src="logo.webp" Height="45"/>
                    Книжная лавка
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <div class="col-lg-2 d-none d-lg-block ">
                                    <div class="nav-item">
                                        <MudButton StartIcon="@Icons.Filled.Notes" Style="background-color:#0050e0; color:white; width:140px;">Каталог</MudButton>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-none d-lg-block">
                                    <MudAutocomplete T="BookModel"
                                                     SearchFunc="@Search"
                                                     ToStringFunc="@(e => e.Title)"
                                                     ValueChanged="SelectBook"
                                                     Margin="Margin.Dense"
                                                     Adornment="Adornment.Start"
                                                     Class="mr-2"
                                                     AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Default" Variant="Variant.Outlined" InputMode="InputMode.search" />
                                </div>
                                <div class="col-lg-4 col-sm">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                        <li class="nav-item d-block d-lg-none " style="padding:0px 20px;">
                                            <MudLink Href="authentication/profile" Color="Color.Default">
                                                <div style="display:flex; flex-direction: column;">
                                                    <MudIcon Icon="@Icons.Filled.Notes" Color="Color.Dark" />
                                                    <MudText Color="Color.Dark">Каталог</MudText>
                                                </div>
                                            </MudLink>
                                        </li>
                                        <LoginDisplay />
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12 d-block d-lg-none">
                            <MudAutocomplete T="BookModel"
                                             SearchFunc="@Search"
                                             ToStringFunc="@(e => e.Title)"
                                             ValueChanged="SelectBook"
                                             Margin="Margin.Dense"
                                             Adornment="Adornment.Start"
                                             Class="mr-2"
                                             AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Default" Variant="Variant.Outlined" InputMode="InputMode.search" />
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>


@code {
    private HttpClient _http;

    private string _selectedText = string.Empty;

    protected override void OnInitialized()
    {
        _http = HttpClientFactory.CreateClient("Bookstore.AnonymousAPI");
    }

    private async Task<IEnumerable<BookModel>> Search(string value)
    {
        if (string.IsNullOrWhiteSpace(value))
            return new List<BookModel>();
        var books = await _http.GetFromJsonAsync<List<BookModel>>($"api/Book/GetAllByTitle/{value}");
        return books;
    }

    private void SelectBook(BookModel bookModel)
    {
        NavigationManager.NavigateTo($"/catalog/book/");
        NavigationManager.NavigateTo($"/catalog/book/{bookModel.Id}");
    }
}