@page "/catalog/author/{id:int}"
@inject IHttpClientFactory HttpClientFactory

@if (AuthorModel != null)
{
    <div>
        <MudGrid>
            <MudItem xs="2">
                @if (AuthorModel.FileData != null)
                {
                    <MudImage Class="rounded-circle mx-auto d-block" Src="@($"data:image/png;base64, {AuthorModel.FileData}")" Alt="@AuthorModel.Title" Width="160" />
                }
            </MudItem>
            <MudItem xs="7">
                <MudText Style="font-size:32px; line-height:40px; margin-bottom:16px; font-weight:600;">@AuthorModel.Title</MudText>
                <MudText Style="font-size:16px; line-height:28px;">@AuthorModel.AboutAuthor</MudText>
            </MudItem>
        </MudGrid>
    </div>
    <MudDivider Style="margin-top:30px; " Class="mud-theme-dark" />

    <div class="pt-5">
        <MudText Align="Align.Center" Style="font-size:28px; margin-bottom:16px; font-weight:400;">Все книги</MudText>
        <MudGrid>
            @foreach (var book in AuthorModel.Books)
            {
                <MudItem lg="3" sm="6" xs="12">
                    <MudPaper Elevation="2" Class="pa-4" Width="100%" Height="100%">
                        <MudLink Href="@($"catalog/book/{book.Id}")">
                            <MudImage Class="rounded mx-auto d-block" Src="@($"data:image/png;base64, {book.FileData}")" Alt="@book.Title" Height="300" Width="192" />
                        </MudLink>
                        <div class="p-3">
                            <MudText Style="font-weight: bold;">@book.Price р.</MudText>
                            <MudLink Class="d-inline-block" Href="@($"catalog/book/{book.Id}")" Color="Color.Default">@book.Title</MudLink>
                            <MudLink Class="d-inline-block" Href="@($"/catalog/author/{AuthorModel.Id}")" Color="Color.Default" Style="font-size:13px; color: #7d8290; line-height: 24px;">@AuthorModel.Title</MudLink>
                            <div class="pt-2 pr-3">
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">В корзину</MudButton>
                            </div>
                        </div>
                    </MudPaper>
                </MudItem>
            }
        </MudGrid>
    </div>

}

@code {
    [Parameter]
    public int Id { get; set; }

    public AuthorModel? AuthorModel { get; set; }

    private HttpClient _http;

    protected override async Task OnInitializedAsync()
    {
        _http = HttpClientFactory.CreateClient("Bookstore.AnonymousAPI");
        AuthorModel = await _http.GetFromJsonAsync<AuthorModel>($"api/Author/GetAuthorId/{Id}");
    }
}