@page "/catalog/book/{id:int}"

<PageTitle>Каталог книг в интернет магазине Книжная лавка</PageTitle>

@if (BookModel != null && Feedbacks != null)
{
    <PageTitle>@BookModel.Title • @BookModel.Author.Title - купить книгу по низкой цене</PageTitle>

    <div style="padding-top:30px;">
        <MudGrid>
            <MudItem lg="3">
                <div class="mb-1 d-flex">
                    <MudRating ReadOnly="true" DisableRipple="true" SelectedValue="(Feedbacks.Count == default ? default :  (int)Math.Round( Feedbacks.Sum(t => t.Rating) / (double)Feedbacks.Count, 0, MidpointRounding.AwayFromZero))" />
                    <MudText Style="font-size:16px; color: #7d8290;">@Feedbacks.Count @DeclinationEnding(Feedbacks.Count)</MudText>
                </div>
                <MudImage Class="img-fluid w-75" Src="@($"data:image/png;base64, {BookModel.FileData}")" Alt="@BookModel.Title" />
            </MudItem>
            <MudItem lg="9">
                <MudText Style="font-size: 24px; font-weight:800;">@BookModel.Title</MudText>
                <MudLink Href="@($"/catalog/author/{BookModel.AuthorId}")" Color="Color.Default" Style="font-size:16px; line-height: 24px; color: #7d8290;">@BookModel.Author.Title</MudLink>

                <MudDivider Style="margin-top:70px;" />

                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="row">
                            <div class="col-lg-4 col-6">
                                <MudText Style="font-size:16px; color: #7d8290;">ID товара</MudText>
                            </div>
                            <div class="col-lg-8 col-6">
                                <MudText Style="font-size:16px;">@BookModel.Id</MudText>
                            </div>
                            <div class="col-lg-4 col-6">
                                <MudText Style="font-size:16px; color: #7d8290;">Издательство</MudText>
                            </div>
                            <div class="col-lg-8 col-6">
                                <MudLink Href="@($"/catalog/publishing-house/{BookModel.PublishingHouseId}")" Color="Color.Default" Style="font-size:16px; line-height: 24px; color: #7d8290">@BookModel.PublishingHouse.Title</MudLink>
                            </div>
                            <div class="col-lg-4 col-6">
                                <MudText Style="font-size:16px; color: #7d8290;">Раздел</MudText>
                            </div>
                            <div class="col-lg-8 col-6">
                                <MudText Style="font-size:16px;">@BookModel.Catalog.Title</MudText>
                            </div>
                            <div class="col-lg-4 col-6">
                                <MudText Style="font-size:16px; color: #7d8290;">Год издания</MudText>
                            </div>
                            <div class="col-lg-8 col-6">
                                <MudText Style="font-size:16px;">@BookModel.YearPublication</MudText>
                            </div>
                            <div class="col-lg-4 col-6">
                                <MudText Style="font-size:16px; color: #7d8290;">Кол-во страниц</MudText>
                            </div>
                            <div class="col-lg-8 col-6">
                                <MudText Style="font-size:16px;">@BookModel.NumberPages</MudText>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">

                        <div style="padding:38px;">

                            <MudPaper Square="true" Style="background-color:rgba(38, 169, 224, 0.1);">
                                <div style="padding:38px;">
                                    <MudText Style="font-size:14px; color:#6ebc63;">&#10004; В наличии</MudText>
                                    <MudText Style="font-size:24px; font-weight:800">@BookModel.Price &#8381;</MudText>
                                    <div class="pt-2 pr-3" style="margin-top:20px;">
                                        <MudButton Link="@(!_user.Identity.IsAuthenticated ? "/Identity/Account/Login" : null)"
                                               Variant="Variant.Filled" Color="Color.Info"
                                               FullWidth="true"
                                               OnClick="(async() => await AddBookToCartAsync(BookModel.Id, BookModel.Title))">
                                            <MudIcon Icon="@Icons.Filled.ShoppingCart" />
                                            В корзину
                                        </MudButton>
                                    </div>
                                </div>
                            </MudPaper>
                        </div>
                    </div>
                </div>

            </MudItem>
        </MudGrid>
    </div>

    <div class="row" style="padding-top:20px;">
        <div class="col-lg-6 col-12">
            <MudText Style="font-size: 24px; font-weight:900;">О товаре</MudText>
            <MudText Style="font-size: 16px;">@BookModel.AboutProduct</MudText>
        </div>
    </div>

    @if (BookModel.Annotation != null)
    {
        <div class="row" style="padding-top:20px;">
            <div class="col-lg-6 col-12">
                <MudText Style="font-size: 24px; font-weight:900;">Аннотация</MudText>
                <MudText Style="font-size: 16px;">@BookModel.Annotation</MudText>
            </div>
        </div>
    }

    <div class="mt-4 border-bottom">
        <MudText Style="font-weight:700; font-size:20px;">Отзывы</MudText>
    </div>
    @if (Feedbacks.Count > 0)
    {
        foreach (var feedback in Feedbacks)
        {
            <div class="row mt-3 border-bottom">
                <div class="col-md-3 col-12" style="word-break:break-word;">
                    <MudText Style="line-height: 24px; font-weight: 700;">@feedback.User.UserName</MudText>
                    <MudText Style="font-size: 14px; line-height: 24px; color: #7d8290;">@feedback.DateFeedback.ToString("D").Split(',')[^1]</MudText>


                    <div class="mb-1 d-flex">
                        <MudRating ReadOnly="true" DisableRipple="true" SelectedValue="@feedback.Rating" />
                        <MudText>@feedback.Rating</MudText>
                    </div>
                </div>
                <div class="col-md-9 col-12" style="word-break:break-word;">
                    <MudText>@feedback.Message</MudText>
                </div>
            </div>
        }
    }
    else
    {
        <div class="m-5 px-5 py-3 d-flex align-items-center" style="place-content:center; background-color:#f2f9fa;">
            <span>Отзывов ещё нет — вы можете быть первым.</span>
        </div>
    }
}