@page "/"
@using Bookstore.Client.UIHelper
@inject IHttpClientFactory HttpClientFactory

<PageTitle>Каталог книг в интернет магазине Книжная лавка</PageTitle>

@if (SelectedBooks != null)
{
    <div class="pt-2">
        <div class="catalog">
            <CatalogTreeView Title="Категории" Dense="true" SetValueCallback="FilterBooksByCategory" />
        </div>
        <div class="pt-5">
            @if (categoryTitle != null)
            {
                <MudText Style="font-size:36px;font-weight:600;" Class="pt-2">@categoryTitle</MudText>
            }
            <MudGrid>
                @foreach (var book in SelectedBooks)
                {
                    <MudItem lg="3" sm="6" xs="12">
                        <MudPaper Elevation="2" Class="pa-4" Width="100%" Height="100%">
                            <MudLink Href="@($"catalog/book/{book.Id}")">
                                <MudImage Class="rounded mx-auto d-block" Src="@($"/images/book/{book.Filename}")" Height="300" Width="192" />
                            </MudLink>
                            <div class="p-3">
                                <MudText Style="font-weight: bold;">@book.Price р.</MudText>
                                <MudLink Href="@($"catalog/book/{book.Id}")">@book.Title</MudLink>
                                <MudText Style="font-size:13px; color: #7d8290; line-height: 24px;">@book.Author.Title</MudText>
                                <div class="pt-2 pr-3">
                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">В корзину</MudButton>
                                </div>
                            </div>
                        </MudPaper>
                    </MudItem>
                }
            </MudGrid>
        </div>
    </div>
}
@code {
    public List<BookModel>? Books { get; set; }
    public List<BookModel>? SelectedBooks { get; set; }
    public List<CatalogModel>? Catalogs { get; set; }
    private HttpClient _http;


    protected override async Task OnInitializedAsync()
    {
        _http = HttpClientFactory.CreateClient("Bookstore.AnonymousAPI");
        Catalogs = await _http.GetFromJsonAsync<List<CatalogModel>>("api/Catalog/GetEntities");
        Books = await _http.GetFromJsonAsync<List<BookModel>>("api/Book/GetBooks");
        SelectedBooks = Books;
    }


    private string categoryTitle;
    private void FilterBooksByCategory(TreeItemData treeItemData)
    {
        categoryTitle = treeItemData?.Title ?? null;
        if (treeItemData != null)
        {
            childCatalogId.Clear();
            AddChildCatalog(treeItemData);
            SelectedBooks = Books.Where(t => t.CatalogId == treeItemData.Id || childCatalogId.Contains((int)t.CatalogId)).ToList();
        }
        else
        {
            SelectedBooks = Books;
        }
    }

    private List<int> childCatalogId = new List<int>();
    private void AddChildCatalog(TreeItemData treeItemData)
    {
        if (treeItemData.TreeItems == null)
            return;

        foreach (var item in treeItemData.TreeItems)
        {
            childCatalogId.Add(item.Id);
            AddChildCatalog(item);

        }
    }
}