@page "/"

<PageTitle>Каталог книг в интернет магазине Книжная лавка</PageTitle>

@if (SelectedBooks != null && Catalogs != null)
{
    <div class="pt-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 d-lg-block d-flex flex-column align-items-center col-12">
                    <CatalogTreeView Title="Категории" Dense="true" SetValueCallback="FilterBooksByCategory" />
                </div>
                <div class="col-lg-8 col-12">
                    <div class="pt-5">
                        @if (categoryTitle != null)
                        {
                            <MudText Style="font-size:36px;font-weight:600;" Class="pt-2">@categoryTitle</MudText>
                        }
                        <div class="row">
                            @foreach (var book in SelectedBooks)
                            {
                                <div class="col-lg-3 col-sm-6 col-12 my-2">
                                    <MudPaper Elevation="2" Class="pa-4" Height="100%">
                                        <MudLink Href="@($"catalog/book/{book.Id}")">
                                            <MudImage Class="rounded mx-auto d-block img-fluid" Src="@($"data:image/png;base64, {book.FileData}")" Alt="@book.Title" />
                                        </MudLink>
                                        <div class="p-3 d-flex flex-column">
                                            <MudText Style="font-weight: bold;">@book.Price р.</MudText>
                                            <MudLink Href="@($"catalog/book/{book.Id}")" Color="Color.Default">@book.Title</MudLink>
                                            <MudLink Href="@($"/catalog/author/{book.AuthorId}")" Color="Color.Default" Style="font-size:13px; color: #7d8290; line-height: 24px;">@book.Author.Title</MudLink>
                                            <div class="pt-2">
                                                <MudButton Link="@(!_user.Identity.IsAuthenticated ? "/Identity/Account/Login" : null)"
                                                   OnClick="(async() => await AddBookToCartAsync(book.Id, book.Title))"
                                                   Variant="Variant.Filled"
                                                   Color="Color.Primary"
                                                   FullWidth="true">
                                                    В корзину
                                                </MudButton>
                                            </div>
                                        </div>
                                    </MudPaper>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
